{% extends "index.html" %}
{% block content %}
<p>
The Daily Ledger is an all crypto related blog, converging all the major news sources as well as unique content into one informative spot. From news to trading strategies, keeping you up to speed on all that is Crypto is what we are all about.
</p>
<p>
TDL was created by a group of crypto enthusiasts and activists that while want to remain anonymous, feel that the core community deserves more, higher quality knowledge sources. Whether you are new to crypto or long time player, we promise to provide information relevant to all. From early stage TGE projects to post TGE ballers and flops, we bring it all.  
</p>
{%endblock%}